<!DOCTYPE html>
<head>
    <title>
    Short Survey    
    </title>
</head>
<body>
    Please take a short survey 
    <p> 
    <form method="POST" action="/submit">

        <label> Entre your user Name </label>
        <input type = "text" name="username" required placeholder="something.io"></input> <br>
        
        <label for = "password">Password</label>
        <input type = "password" id ="password" name="password" required ></input> <br>
        
        <label id = "password ">Email:</label>
        <input type = "email" placeholder="_____@gmail.com"></input></br>
        
        <label>
            How was your experiecnce
        </label>
        <select>
            <option> poor </option>
            <option> fair </option>
            <otion> excellent </otion>
        </select>
        <br>
        <input type ="submit"></input>
        <input type = "reset" ></input><br>

        
        
        
    </form>
</p>
</body>