<!DOCTYPE html> <!-- Html Day 2 -->
<html>
<head>
    <title>Shaurya Website</title>
    <link rel="icon" href="Images/" type="image/png">
</head>
<header style="background-color: lightgoldenrodyellow; ">
    <h1>Welcome Aboard!</h1>
    <br> <!-- Adds a line after the heading -->

    <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSMTRzdkMjwNNztwdljzMPrFLBrDCfslSvCwBwkTzHzwpQZwvrKxpRnVfjkbFZJJzbZBNxvX" 
   target="_blank" style="font-size: 20px"> 
   Email
   </a>

</header>
<main>
    
<body>


    <a href="Images/download.jpeg" target="_blank">
        <button style="font-size: 25px;">Click me to see a cute dog</button>
    </a>    

    <h3>
        <a href="https://en.wikipedia.org/wiki/Muay_Thai" title="Learn more on Wikipedia">
            Let's learn Muay Thai basics
        </a>
    </h3>

    <b>Song:</b>
    <audio controls src="Boom Bap Flick - Quincas Moreira.mp3"></audio>

    <pre>
<h3>1. Stance and Guard</h3>
- Feet shoulder-width apart
- Lead foot slightly forward, back foot at an angle
- Hands up high (protecting chin), elbows in
- Chin tucked, eyes forward
- Slight bounce for mobility

<hr>

<h3>2. Basic Strikes</h3>
<ul>
    <li>
        Punches (มวยหมัด / Muay Mat)
        <ol>
            <li>Jab – fast, straight punch with lead hand</li>
            <li>Cross – powerful rear-hand punch</li>
            <li>Hook – curved punch to the side of the head/body</li>
        </ol>
    </li>

    <li>
        Elbows
        <ol>
            <li>Horizontal elbow</li>
            <li>Upward elbow</li>
            <li>Spinning elbow</li>
        </ol>
    </li>

    <li>
        Kicks (เตะ / Te)
        <ol>
            <li>Roundhouse kick (most famous)</li>
            <li>Teep (push kick, like a front kick)</li>
        </ol>
    </li>

    <li>
        Knees (เข่า / Khao)
        <ol>
            <li>Straight knee</li>
            <li>Jumping knee</li>
            <li>Knee in clinch</li>
        </ol>
    </li>
</ul>
    </pre>

    <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/KsVK9ewKWqo" 
        title="Muay Thai Video"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>

    <br>

    <a href="https://www.fairtex.com/collections/equipment-boxing-gloves/products/fairtex-boxing-gloves-universal-tight-fit-design" target="_blank">
        <img src="https://www.fairtex.com/cdn/shop/files/bgv1_black_01.jpg?v=1720169570&width=960"
            height="150"
            alt="Fairtex Boxing Gloves"
            title="Fairtex Boxing Gloves">
        </img>
    </a>

    <h2>Best Equipment to Buy</h2>
    <table border="2">
        <tr style="background-color: aquamarine; text-align: center;">
            <th>Famous UFC Fighters</th>
            <th>Mouthpiece Brand Used</th>
        </tr>
        <tr style="text-align: center;">
            <td>Max Holloway</td>
            <td>Opro / Custom-fitted</td>
        </tr>
        <tr style="text-align: center;">
            <td>Kamaru Usman</td>
            <td>Gladiator Custom Mouthguards</td>
        </tr>
        <tr style="text-align: center;">
            <td>Jon Jones</td>
            <td>Impact Mouthguards</td>
        </tr>
    </table>

    <hr>

    <a href="CompletionForm.html" target="_blank">
        <button style="background-color: bisque; font-size: 18px;">Click for a Short Survey</button>
    </a>

</main>

<footer>

</footer>

</body>
</html>
